*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-emphasis: none;
}
header{
    width: 100%;
    height: 350px;
    background: rgb(110, 3, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}
img{
    width: 200px;
    height: 200px;
}
#BtnHeadre{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    justify-content: end;
    padding-top: 25px;
}
.liHeader{
    font-size: 30px;
    color:rgb(255, 0, 43);
    background: black;
    padding: 10px;
    border-radius: 15px;
}
section{
    display: flex;
    flex-direction: row;
}
#Art1{
    width: 30%;
    padding: 20px 25px 0 25px;
}
#Art2{
    width: 70%;
    padding: 20px 25px 0 15px;
}
#Art1 p{
    padding-top: 15px;
    color: rgb(255, 252, 47);
    font-size: 14px;
}
#Art2 #ulArt2{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    justify-content: center;
}
#Art2 #ulArt2 li{
    background: rgb(240, 150, 15);
    padding: 20px;
    border-radius: 15px;

}
#ulArt3{
    background: rgb(204, 238, 215);
    list-style: none;
    padding-top: 20px;
}
#ulArt3 li{
     padding-top: 40px;
     
}
.videogames{
width: 25px;
height: 25px;
}


