@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+US+Trad+Guides&family=Story+Script&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Oi&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+US+Trad+Guides&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+US+Trad+Guides&family=Story+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Encabezado*/
.Encabezado{
    width: 100%;
    height: 300px;
    background: url('./FONDO.webp') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Logo{
    height: 400px;
    padding-top: 120px;
    filter: drop-shadow(15px 20px 8px rgb(138, 2, 2));
    padding-left: 20px;
}
#LogoT{
    font-family: "Titan One", sans-serif;
    font-size: 50px;
    color: rgb(168, 5, 5);
    text-shadow: 8px 8px 15px rgba(99, 21, 21, 0.959);
    height: 250px;
    padding-left: 120px;
}

.indice{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
}
.indice li{
    list-style: none;
    font-size: 35px;
    font-family: "Irish Grover", system-ui;
    background: rgb(167, 6, 6);
    border-radius: 15px;
    padding: 0px 15px;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}
.indice li:hover{
    opacity: 1;
}

/*Secciones*/
.secciones{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
.historia{
    width:70%;
}
.titule1{
    font-family: "Story Script", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px 0;
 }
.titule2{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.parrafos{
   font-family: "Story Script", sans-serif;
   line-height: 1.5;
}
#poin{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px 25px;
    corner-shape:scoop;
    padding-top: 25px;

    }  
.centrar{
    width: 100%;
    display: flex;
    justify-content: center;
    #video{
        padding: 25px;
        width: 200px;
        height: 300px;
        border-radius: 50px;
        transition: 0,7s;

    }
}
#Video{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    transition: 0.7s;
}
#Video:hover{
    width: 450px;
    height: 400px;
    border-radius: 0;
    padding-top: 25px;
}
footer{
    width: 100px;
    height: 200px;
    background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer img{
    width: 70px;
    height: 70px;
    margin: 0px 15px;
    transition: 0.5s;

}
footer p{
    color: blueviolet;
    font-size: 30px;
    margin-top: 20px;


}
 #centerf{
    display: flex;
    gap: 30px;

 }